@font-face {
  font-family: 'charter';
  src: url('//blog.veitheller.de/charter_regular-webfont.eot');
  src: url('//blog.veitheller.de/charter_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'charter';
  src: url('//blog.veitheller.de/charter_italic-webfont.eot');
  src: url('//blog.veitheller.de/charter_italic-webfont.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'triplicate';
  src: url('//blog.veitheller.de/triplicate_code_regular.eot');
  src: url('//blog.veitheller.de/triplicate_code_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body, li  p {
  font-family: "charter";
}

html {
  height: 100%;
  font-size: 24px;
}

body {
  padding: 0;

  margin-left:auto;
  margin-right:auto;
  width:100%;
  max-width:1000px;
  min-height: 100%;
  text-rendering: optimizeLegibility;
  -moz-font-feature-settings: 'kern=1';
  -moz-font-feature-settings: 'kern' 1;
  -webkit-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  -ms-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'liga=1';
  -moz-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  -ms-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
}

body > * {
  font-size: 100%;

  margin-left: 11.5rem;
  margin-right: 2.5rem;
}

.content {
  display: block;
  padding: 2rem 0 0 0;
  hyphens: auto;
  text-align: justify;
}

.content h2 {
  font-size: 125%;
  font-weight: 500;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 1em;
}

.content h3 {
  font-size: 110%;
  font-weight: 500;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  padding-left: 1em;
}

.footer {
  padding-top: 1em;
  border-top: 1px solid blacK;
  font-size: 90%;
}

.date {
  font-style: italic;
  margin: 0.3em;
}

.spoiler {
  background: #000;
}

.spoiler code {
  background: #000;
}

.spoiler:hover {
  background: #fff;
}

.spoiler:hover code {
  background: #d9e4ea;
}

img {
  width: 100%;
}

p, li {
  margin-bottom: 1em;
  line-height: 1.35;
}

a {
  color: inherit;
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
  background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

sup a {
  background: 0;
}

sup a:hover {
  color: #8e2300;
}

pre {
  margin-bottom: 1em;
  padding: 5px;
  background: #d9e4ea;
  overflow-x: scroll;
}

code {
  font-family: "triplicate", monospace;
  font-size: 90%;
  hyphens: none;
  background: #d9e4ea;
}

a code {
  text-shadow: none;
}

.aside {
  margin: 0;
  float: left;
  padding-top: 5em;
  max-width: 200px;
  min-width: 100px;
  font-weight: 500;
}

.aside h1 {
  border-bottom: 3px solid black;
  border-left: 3px solid black;
  padding-left: 0.2em;
  font-size: 32px;
}

.aside a {
  font-size: 130%;
  font-style: italic;
}

table {
  margin-bottom: 1.5em;
  border-collapse: collapse;
  width: 95%;
  font-size: 80%;
}

table tr + tr {
  border: 1px solid #ccc;
  border-top: 2px solid #ccc;
}

table td {
  border: 1px solid #ccc;
}

table td {
  padding: 0.4em;
  hyphens: none;
}

table th {
  font-weight: normal;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  line-height: 1.05;
  border: 1px solid #ccc;
  border-bottom: 2px solid #999;
}

h1, h2, h3, h4 {
  margin: 
}

.figure-label {
  text-align: center;
  font-size: 80%;
  margin-bottom: 1.5em;
}

table + .figure-label {
  margin-top: -1.2em;
}

ol li {
  margin-left: 1em;
}

ol li {
  border-left: 2px solid;
  padding-left: 0.5em;
}

ul ul {
  margin-left: 1em;
}

.rc-scout {
  height: 50px;
}

.rc-scout__text > .rc-scout__link:link, .rc-scout__link:visited, .rc-scout__link:hover {
  color: #222 !important;
  text-decoration: none;
}

@media(max-device-width:960px){
  html {font-size: 23px;}
  .aside {
    padding-top: 0;
    float: none;
    margin-left: 2em;
    margin-top: 2em;
    max-width: 600px;
  }
  .aside h1 {
    font-size: 55px;
  }
  table {
    font-size: 30px;
    width: 100%;
  }
  table th {
    font-size: 24px;
  }
  .figure-label {
    font-size: 16px;
  }
  table + .figure-label {
    margin-top: -0.5em;
  }
}
@media(max-width:880px){
  html {font-size: 21px;}
}
@media(max-device-width:520px) {
  body > * {margin: 2rem;}
  .content {padding: 0;}
}
