html, body {
  margin: 0;
  height: 100vh;
}

.bg {
  background-color: #eee;
  height: 100vh;
}

.input {
   margin: 0;
   width: 49vw;
   height: 100vh;
   border: none;
   background-color: white;
   resize: none;
   float: left;
   padding-left: 0.5em;
   padding-right: 0.2em;
   box-sizing: border-box;
   font-size: 20px;
   overflow: scroll;
   font-family: monospace;
}

#output {
  font-family: "charter";
  padding-top: 0;
  margin-left: 2vw;
}

@media print {
  body * {
    visibility: hidden;
  }
  #output, #output * {
    visibility: visible;
  }
  #output {
    position: absolute;
    left: 0;
    top: 0;
    width: 100% !important;
    height: 100% !important;
  }
}
